.primary-function {
  margin: auto;
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 1px solid var(--text-color);
  border-radius: 12px;
  color: var(--text-color);
  font-size: 30px;
  &:hover {
    color: black;
    background-color: var(--text-color);
    border-radius: 12px 12px 0 0;
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  & .dropdown-content {
    display: none;
    position: absolute;
    transform-origin: top center;
    background-color: var(--text-color);
    width: calc(100%  + 1px);
    box-shadow: 4px 4px 20px;
    z-index: -1;
    left: 0;
    top: 100%;
  }

  &:hover {
    .dropdown-content {
      display: block;
      border-radius: 0 0 12px 12px;
    }
  }
}
